# Flutter/Dart/Pub related files
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/

# Project-specific files
.idea/
.vscode/
build/
**/build/
**/*.iml
.DS_Store

# Android specific
android/.gradle/
android/.idea/
android/local.properties
android/app/debug
android/app/release
android/gradle.properties
android/app/src/debug
android/app/src/profile
android/app/src/release

# iOS specific
ios/Flutter/.last_build_id
ios/Pods/
ios/Runner.xcworkspace/
ios/Runner.xcarchive
ios/Runner.xcodeproj/project.xcworkspace/
ios/Runner.xcodeproj/xcuserdata/
ios/Runner.xcodeproj/xcshareddata/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/ServiceDefinitions.json
ios/Podfile.lock
ios/Pods
ios/Podfile.lock
ios/Pods/Manifest.lock

# Web related
web/.dart_tool/
web/.flutter-plugins
web/.flutter-plugins-dependencies
web/.packages
web/.pub-cache/
web/.pub/

# macOS related
macos/.dart_tool/
macos/.flutter-plugins
macos/.flutter-plugins-dependencies
macos/.packages
macos/.pub-cache/
macos/.pub/

# Windows related
windows/.dart_tool/
windows/.flutter-plugins
windows/.flutter-plugins-dependencies
windows/.packages
windows/.pub-cache/
windows/.pub/

# Linux related
linux/.dart_tool/
linux/.flutter-plugins
linux/.flutter-plugins-dependencies
linux/.packages
linux/.pub-cache/
linux/.pub/

# IntelliJ related
*.ipr
*.iws
.idea/
*.iml
*.hprof

# VS Code related
.vscode/
.history/

# Miscellaneous
*.swp
*.swo
*.zip
*.orig
*.log
*.out
*.sublime-workspace
*.sublime-project

# File to store environment variables
.env

# Python virtual environments
*venv*
*/__pycache__/

server/graph.py
